<%- include("../partials/head", {tituloWeb: 'Sobre Nosotros' }) %>

<!-- Encabezado perosnalizado -->
<%- include('../partials/custom-header') %>

    <main class="container-about">

        <h1>Acerca de Nosotros</h1>

        <div class="section-about">
            <div class="section-about__content">
                <h2>Delicias Rapidas</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore, dolorem totam perferendis
                    voluptate omnis neque dolor qui. Harum excepturi explicabo ad numquam nobis accusamus ipsa id,
                    et aliquid ullam eos?</p>
                <a href="/#seccionMenu">Nuestro Menú</a>
            </div>
            <img src="../icons/logoempresa.png"
                alt="Imagen de la empresa">
        </div>

        <div class="container-about__aside">

            <div class="section-about___aside">
                <h2>Misión</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas quos, cupiditate vel eaque ratione
                    ex dolorum placeat cumque hic beatae quia a natus quod deserunt minima numquam molestiae aliquid
                    error!
                </p>
            </div> 

            <div class="section-about___aside">
                <h2>Visión</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas quos, cupiditate vel eaque ratione
                    ex dolorum placeat cumque hic beatae quia a natus quod deserunt minima numquam molestiae aliquid
                    error!
                </p>
            </div>            
        </div>
    </main>
    <div>
    </div>
    
    <div class="button-aside__ubicacion">
        <a href="/estamosAqui">
            ESTAMOS AQUÍ
            <img src="../icons/ubicacion.png" alt="ubicaion">
        </a>
    </div>
    
    <!-- <div class="button-aside__ubicacion">
        <a href="/estamosAqui">
            ESTAMOS AQUI
            <img src="../icons/ubicacion.png" alt="ubicaion">
        </a>
    </div> -->

<!-- Footer personalizado -->
<%- include('../partials/footer') %>

<!-- Footer -->
<%- include('../partials/custom-footer') %>