<link rel="stylesheet" href="../css/header-pago.css" type="text/css">

<header class="header">
  <div class="header__logo-empresa">
    <a href="/nosotros">
      <img src="../icons/logoempresa.png" alt="Logo empresa">
    </a>
  </div>

  <div>
    <h1 class="header__nombre-empresa">DELICIAS RÁPIDAS</h1>
  </div>

  <!-- <script src="../js/header.js"></script> -->
</header>