<div class="titulo-categoria">
    <div class="titulo-categoria__decoracion"></div>
    <h1 class="titulo-categoria__texto"><%= titulo %></h1>
    <div class="titulo-categoria__decoracion"></div>
</div>